PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-10-25 19:22:53.432938');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-10-25 19:22:53.458592');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-10-25 19:22:53.477661');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'2','Javascript Kursu',2,'[{"changed": {"fields": ["Description"]}}]',7,1,'2024-10-26 08:46:41.344051');
INSERT INTO django_admin_log VALUES(2,'1','Python Dersleri',2,'[{"changed": {"fields": ["Description"]}}]',7,1,'2024-10-26 08:48:37.897409');
INSERT INTO django_admin_log VALUES(3,'3','Php Kursu',2,'[{"changed": {"fields": ["Title", "Description", "Date", "Slug"]}}]',7,1,'2024-10-26 08:50:44.536475');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$870000$BdMdJsqkLb9D6X6jbhql0v$su99VydENKLRWlsDEGZjTES8azjW07CatlzOA3foMps=','2024-11-21 12:38:24.138015',1,'alialtunoglu','','ali52altunoglu@gmail.com',1,1,'2024-10-26 08:38:47.318740','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$870000$2fxjSFtZqYkrYOF65VTzjU$EKGNpgSbMoPc9AFQjeRUtJ7wiJWaoN+joiMSDJYBYwE=','2024-12-12 12:30:13.799192',0,'alialtunoglu52','','52isaaltunoglu@gmail.com',0,1,'2024-11-19 07:58:15.683208','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$870000$QbvQjKBQzF8hu0TYieG3z1$E/5dz94MIGcKurmvwxh72lSkqBFklidFuHRhopfSuco=',NULL,0,'alialtunoglu2','','aa@gmail.com',0,1,'2024-11-19 08:00:23.699409','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('nmctbeq94q9dywzl5nmvayi973q70pvh','.eJxVjDsOwyAQBe9CHSFgAeOU6X0GtHw2OIlAMnYV5e4RkoukfTPz3szjsRd_9Lz5NbErk-zyuwWMz1wHSA-s98Zjq_u2Bj4UftLOl5by63a6fwcFexk1zJl0IpWIrCWprJjcHAGl0SpbAAIXdEzgRJRghDARhJ6kAYUBdWCfL-NXN18:1t4cKF:SuKoNOriyDUJeRNDBfkh1uy6-eS3l9LFAIzytBLoAJQ','2024-11-09 08:39:11.242890');
INSERT INTO django_session VALUES('albbojh5zj7agepbpj7hwze706g6s7xq','.eJxVjDsOwyAQBe9CHSFgAeOU6X0GtHw2OIlAMnYV5e4RkoukfTPz3szjsRd_9Lz5NbErk-zyuwWMz1wHSA-s98Zjq_u2Bj4UftLOl5by63a6fwcFexk1zJl0IpWIrCWprJjcHAGl0SpbAAIXdEzgRJRghDARhJ6kAYUBdWCfL-NXN18:1t62FA:ACXeXaAIqQxt94gUlcBwmEqW6-7dEYdV0DuOcuCVC_Y','2024-11-13 06:31:48.376053');
INSERT INTO django_session VALUES('7wlxdnrpfj5d3y43a8mks4tykj2qacyl','.eJxVjEEOwiAQRe_C2hBkhoIu3XuGBoYZqRpISrsy3l2bdKHb_977LzXGdSnj2nkep6zOalCH3y1FenDdQL7HemuaWl3mKelN0Tvt-toyPy-7-3dQYi_fmiMBuZTckMIJxQcQscEKgFhEx4zkjgbYUzIsgtEbCQgB0Dsk8er9AfwDOBk:1tE63q:yTVD_aIS26vVPxi_xBQ6Y_zMF0EOURuYZkklZ3JsmHg','2024-12-05 12:13:26.706059');
CREATE TABLE IF NOT EXISTS "courses_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(40) NOT NULL, "slug" varchar(50) NOT NULL UNIQUE);
INSERT INTO courses_category VALUES(1,'programlama','programlama');
INSERT INTO courses_category VALUES(2,'web geli┼ştirme','web-gelistirme');
INSERT INTO courses_category VALUES(3,'mobil uygulama','mobil-uygulamalar');
CREATE TABLE IF NOT EXISTS "courses_course_categories" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "course_id" bigint NOT NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED, "category_id" bigint NOT NULL REFERENCES "courses_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO courses_course_categories VALUES(4,6,1);
INSERT INTO courses_course_categories VALUES(5,6,2);
INSERT INTO courses_course_categories VALUES(9,5,1);
CREATE TABLE IF NOT EXISTS "courses_uploadmodel" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL);
INSERT INTO courses_uploadmodel VALUES(1,'images/1.jpg');
CREATE TABLE IF NOT EXISTS "courses_course" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(50) NOT NULL, "date" date NOT NULL, "isActive" bool NOT NULL, "slug" varchar(50) NOT NULL UNIQUE, "isHome" bool NOT NULL, "image" varchar(100) NOT NULL, "subtitle" varchar(100) NOT NULL, "description" text NOT NULL);
INSERT INTO courses_course VALUES(3,'Php Kursu','2024-11-18',1,'php-kursu',1,'images/3_Upf7Qvh.jpg','','iyi bir kurs');
INSERT INTO courses_course VALUES(6,'django-kursu','2024-11-18',1,'django-kursuu',1,'images/3.jpg','','iyi bir kurs');
CREATE TABLE IF NOT EXISTS "courses_slider" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "is_active" bool NOT NULL, "course_id" bigint NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED, "image" varchar(100) NOT NULL);
INSERT INTO courses_slider VALUES(1,'Web Geli┼ştirme Kursu',1,5,'images/3_n3reOt1.jpg');
INSERT INTO courses_slider VALUES(2,'Javascript Kursu',1,6,'images/1_LUDQRd9.jpg');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',33);
INSERT INTO sqlite_sequence VALUES('django_admin_log',56);
INSERT INTO sqlite_sequence VALUES('django_content_type',10);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE UNIQUE INDEX "courses_course_categories_course_id_category_id_af3dfeb5_uniq" ON "courses_course_categories" ("course_id", "category_id");
CREATE INDEX "courses_course_categories_course_id_77e61a9e" ON "courses_course_categories" ("course_id");
CREATE INDEX "courses_course_categories_category_id_c493022e" ON "courses_course_categories" ("category_id");
CREATE INDEX "courses_slider_course_id_46c1e8e3" ON "courses_slider" ("course_id");
COMMIT;
